@font-face { 
	font-family: 'Nimbus Sans Bold';
	src: url('src/fonts/nimbussansbold.ttf'); 
}

@font-face { 
	font-family: 'Univers Light';
	src: url('src/fonts/universlight.otf'); 
}

body {
	margin: 0;
	padding: 0;
	background: #203856 url('src/img/bg.jpg') center center no-repeat fixed;
	background-size: cover;
	font-family: 'Univers Light', sans-serif;
}

p { 
	color: #fff;
	font-size: 0.9em; 
	margin-bottom: 1.7em;
}

h1 {
	font: normal 1.5em/1.2em 'Nimbus Sans Bold', sans-serif;
	color: #79cabd;
}

h2 {
	font: normal 0.9em 'Nimbus Sans Bold', sans-serif;
	letter-spacing: 0.5px;
	color: #fff;
}

h3, #updates {
	font: normal 0.8em 'Nimbus Sans Bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
}

hr {
	margin: 2em 0;
	border: 0;
	height: 1px;
	background: #3c4c63;
}

header {
	width: 100%;
	height: 280px;
	min-height: 280px;
	background: url('src/img/tiles.png') -10px -50px no-repeat;
	background-size: 700px auto;
	text-align: center;
}

	header h2 {
		margin-top: 30px;
		font-size: 1.3em;
	}

	#logo {
		display: block;
		margin: auto;
		padding-top: 80px;
		width: 200px;
	}

main {
	padding: 15px;
}

input, button {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
}

#updates {
	background: rgba(136,158,208,0.4);
	display: block;
	width: 100%;
	padding: 15px 0;
	border-radius: 4px;
	text-align: center;
}

#kickstarter {
	margin-top: 10px;
	width: 200px;
}

#social a {
	display: inline-block;
	border: 1px solid #41769b;
	border-radius: 4px;
	width: 22px;
	height: 22px;
	padding: 8px;
	margin-right: 10px;
}

	#social a img {
		width: 100%;
	}

/*
	input, button {
		margin: 0;
		padding: 0;
	}

	#email, #submit, #apply {
		-webkit-appearance: none;
		-moz-appearance: none;
		border: none;
		border-radius: 4px;
		vertical-align: middle;
		font-size: 0.8em;
	}

	#email {
		width: 70%;
		max-width: 300px;
		height: 24px;
		margin-right: 4px;
		padding: 8px;
		border: 1px solid #ddd;
	}

	#submit {
		width: 50px;
		height: 40px;
		background: #deb5c5 url('src/img/check.png') center center no-repeat;
		background-size: 50% auto;
	}

	#apply {
		width: 100%;
		height: 40px;
		padding: 8px 0 4px;
		background: #6fc29d;
		font: normal 0.8em 'Nimbus Sans Bold', sans-serif;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #fff;
	}


*/

/* MID-SIZE SCREENS */
@media screen 
	and (min-device-width: 640px) 
	and (min-width: 640px) {

	header {
		height: 320px;
		background-position: -10px -60px;
		background-size: 900px auto;
	}

		#logo {
			padding-top: 70px;
			width: 300px;
		}

	main {
		margin: auto;
		width: 85%;
	}
}

/* DESKTOP SCREENS */
@media screen 
	and (min-device-width: 920px) 
	and (min-width: 920px) {

		header {
			display: inline-block;
			width: 49%;
			height: 100vh;
			background-size: auto 120%;
			vertical-align: middle;
		}

			#logo {
				padding-top: 35vh;
				width: 50%;
			}

		main {
			display: inline-block;
			width: 360px;
			margin: 0 0 0 60px;
			vertical-align: middle;
		}

		p, #updates, hr {
			max-width: 300px;
		}

		#social {
			position: absolute;
			bottom: 30px;
			right: 20px;
		}

}